In [1]:
from cerberus import Validator
import pandas as pd

In [2]:
# Use Cerberus to validate matching data between housing and population
# Define schema for the "housing.csv" file
housing_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Define schema for the "population.csv" file
population_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Create Cerberus Validator instances for each schema
housing_validator = Validator(housing_schema)
population_validator = Validator(population_schema)

# Load data from "housing.csv" and "population.csv" into pandas DataFrames
housing_data = pd.read_csv("housing.csv")
population_data = pd.read_csv("population.csv")

# Validate each row of the housing data against the schema
housing_validation_results = [housing_validator.validate(row.to_dict()) for _, row in housing_data.iterrows()]

# Validate each row of the population data against the schema
population_validation_results = [population_validator.validate(row.to_dict()) for _, row in population_data.iterrows()]

# Merge the DataFrames based on the "City" and "State" columns
merged_data = housing_data.merge(population_data, on=["City", "State"], how="inner")

# Print out the matching cities and states
merged_data

         City State  Year   Price  population_2022
0    New York    NY  2014  402362          8335897
1    New York    NY  2015  416699          8335897
2    New York    NY  2016  435647          8335897
3    New York    NY  2017  458805          8335897
4    New York    NY  2018  480549          8335897
..        ...   ...   ...     ...              ...
105    Austin    TX  2020  344899           974447
106    Austin    TX  2021  455730           974447
107    Austin    TX  2022  535014           974447
108    Austin    TX  2023  478175           974447
109    Austin    TX  2024  455686           974447

[110 rows x 5 columns]

In [3]:
# Use Cerberus to find any missing data between housing and population
# Define schema for the "housing.csv" file
housing_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Define schema for the "population.csv" file
population_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Create Cerberus Validator instances for each schema
housing_validator = Validator(housing_schema)
population_validator = Validator(population_schema)

# Load data from "housing.csv" and "population.csv" into pandas DataFrames
housing_data = pd.read_csv("housing.csv")
population_data = pd.read_csv("population.csv")

# Validate each row of the housing data against the schema
housing_validation_results = [housing_validator.validate(row.to_dict()) for _, row in housing_data.iterrows()]

# Validate each row of the population data against the schema
population_validation_results = [population_validator.validate(row.to_dict()) for _, row in population_data.iterrows()]

# Merge the DataFrames based on the "City" and "State" columns
merged_data = housing_data.merge(population_data, on=["City", "State"], how="outer", indicator=True)

# Filter out records present in only one DataFrame
missing_in_housing = merged_data[merged_data['_merge'] == 'right_only']
missing_in_population = merged_data[merged_data['_merge'] == 'left_only']

# Print out the missing records
print("Missing records in housing.csv:")
missing_in_housing

print("\Missing records in population.csv:")
missing_in_population

Missing records in housing.csv:
\Missing records in population.csv:

            City State  Year   Price  population_2022     _merge
55    Washington    DC  2014  370565              NaN  left_only
56    Washington    DC  2015  379705              NaN  left_only
57    Washington    DC  2016  389330              NaN  left_only
58    Washington    DC  2017  403513              NaN  left_only
59    Washington    DC  2018  416829              NaN  left_only
...          ...   ...   ...     ...              ...        ...
9818      Lamesa    TX  2020   91559              NaN  left_only
9819      Lamesa    TX  2021   98232              NaN  left_only
9820      Lamesa    TX  2022   94129              NaN  left_only
9821      Lamesa    TX  2023   83427              NaN  left_only
9822      Lamesa    TX  2024   74886              NaN  left_only

[9713 rows x 6 columns]

In [4]:
#Use matching data to generate a new housing df, focusing on the cities with the highest 10 population counts
# Merge housing and population data to get matching City and State combinations
merged_data = housing_data.merge(population_data, on=["City", "State"], how="inner")

# Filter housing data to include only matching City and State combinations
matching_housing_data = housing_data[
    (housing_data[['City', 'State']].apply(tuple, axis=1)).isin(merged_data[['City', 'State']].apply(tuple, axis=1))
]
# show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Print out the matching housing data
matching_housing_data

              City State  Year   Price
0         New York    NY  2014  402362
1      Los Angeles    CA  2014  494696
2          Chicago    IL  2014  192162
3           Dallas    TX  2014  169951
4          Houston    TX  2014  168793
6     Philadelphia    PA  2014  204589
10         Phoenix    AZ  2014  202542
16       San Diego    CA  2014  455060
23     San Antonio    TX  2014  156013
28          Austin    TX  2014  240550
893       New York    NY  2015  416699
894    Los Angeles    CA  2015  516088
895        Chicago    IL  2015  200389
896         Dallas    TX  2015  187043
897        Houston    TX  2015  186431
899   Philadelphia    PA  2015  209850
903        Phoenix    AZ  2015  215163
909      San Diego    CA  2015  489168
916    San Antonio    TX  2015  167766
921         Austin    TX  2015  265047
1786      New York    NY  2016  435647
1787   Los Angeles    CA  2016  543868
1788       Chicago    IL  2016  211026
1789        Dallas    TX  2016  209094
1790       Houston    TX  2016  197103
1792  Philadelphia    PA  2016  217900
1796       Phoenix    AZ  2016  234449
1802     San Diego    CA  2016  526856
1809   San Antonio    TX  2016  179321
1814        Austin    TX  2016  284185
2679      New York    NY  2017  458805
2680   Los Angeles    CA  2017  593676
2681       Chicago    IL  2017  222481
2682        Dallas    TX  2017  230764
2683       Houston    TX  2017  204476
2685  Philadelphia    PA  2017  227387
2689       Phoenix    AZ  2017  250576
2695     San Diego    CA  2017  568041
2702   San Antonio    TX  2017  190776
2707        Austin    TX  2017  298141
3572      New York    NY  2018  480549
3573   Los Angeles    CA  2018  651578
3574       Chicago    IL  2018  232501
3575        Dallas    TX  2018  248263
3576       Houston    TX  2018  212859
3578  Philadelphia    PA  2018  236892
3582       Phoenix    AZ  2018  269848
3588     San Diego    CA  2018  598377
3595   San Antonio    TX  2018  201455
3600        Austin    TX  2018  308120
4465      New York    NY  2019  495660
4466   Los Angeles    CA  2019  661262
4467       Chicago    IL  2019  237701
4468        Dallas    TX  2019  256268
4469       Houston    TX  2019  221167
4471  Philadelphia    PA  2019  246229
4475       Phoenix    AZ  2019  286413
4481     San Diego    CA  2019  607060
4488   San Antonio    TX  2019  209311
4493        Austin    TX  2019  317451
5358      New York    NY  2020  514550
5359   Los Angeles    CA  2020  702113
5360       Chicago    IL  2020  245586
5361        Dallas    TX  2020  268992
5362       Houston    TX  2020  230612
5364  Philadelphia    PA  2020  263586
5368       Phoenix    AZ  2020  317584
5374     San Diego    CA  2020  646321
5381   San Antonio    TX  2020  221938
5386        Austin    TX  2020  344899
6251      New York    NY  2021  564338
6252   Los Angeles    CA  2021  800193
6253       Chicago    IL  2021  271834
6254        Dallas    TX  2021  314521
6255       Houston    TX  2021  262498
6257  Philadelphia    PA  2021  297167
6261       Phoenix    AZ  2021  396575
6267     San Diego    CA  2021  761293
6274   San Antonio    TX  2021  255609
6279        Austin    TX  2021  455730
7144      New York    NY  2022  607852
7145   Los Angeles    CA  2022  897896
7146       Chicago    IL  2022  293834
7147        Dallas    TX  2022  378230
7148       Houston    TX  2022  305275
7150  Philadelphia    PA  2022  325902
7154       Phoenix    AZ  2022  471401
7160     San Diego    CA  2022  880894
7167   San Antonio    TX  2022  296290
7172        Austin    TX  2022  535014
8037      New York    NY  2023  621560
8038   Los Angeles    CA  2023  898687
8039       Chicago    IL  2023  302620
8040        Dallas    TX  2023  375329
8041       Houston    TX  2023  305278
8043  Philadelphia    PA  2023  341504
8047       Phoenix    AZ  2023  447272
8053     San Diego    CA  2023  887806
8060   San Antonio    TX  2023  292589
8065        Austin    TX  2023  478175
8930      New York    NY  2024  638713
8931   Los Angeles    CA  2024  923457
8932       Chicago    IL  2024  307221
8933        Dallas    TX  2024  371673
8934       Houston    TX  2024  303308
8936  Philadelphia    PA  2024  348935
8940       Phoenix    AZ  2024  452325
8946     San Diego    CA  2024  924382
8953   San Antonio    TX  2024  283669
8958        Austin    TX  2024  455686

In [5]:
# Export to csv
housing = matching_housing_data
housing.to_csv('housing.csv', index=False)