In [1]:
from cerberus import Validator
import pandas as pd

In [2]:
# Use Cerberus to validate matching data between housing and population
# Define schema for the "housing.csv" file
housing_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Define schema for the "population.csv" file
population_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Create Cerberus Validator instances for each schema
housing_validator = Validator(housing_schema)
population_validator = Validator(population_schema)

# Load data from "housing.csv" and "population.csv" into pandas DataFrames
housing_data = pd.read_csv("housing.csv")
population_data = pd.read_csv("population.csv")

# Validate each row of the housing data against the schema
housing_validation_results = [housing_validator.validate(row.to_dict()) for _, row in housing_data.iterrows()]

# Validate each row of the population data against the schema
population_validation_results = [population_validator.validate(row.to_dict()) for _, row in population_data.iterrows()]

# Merge the DataFrames based on the "City" and "State" columns
merged_data = housing_data.merge(population_data, on=["City", "State"], how="inner")

# Print out the matching cities and states
merged_data

         City State  Year   Price  population_2022
0    New York    NY  2014  402362          8335897
1    New York    NY  2015  416699          8335897
2    New York    NY  2016  435647          8335897
3    New York    NY  2017  458805          8335897
4    New York    NY  2018  480549          8335897
..        ...   ...   ...     ...              ...
105    Austin    TX  2020  344899           974447
106    Austin    TX  2021  455730           974447
107    Austin    TX  2022  535014           974447
108    Austin    TX  2023  478175           974447
109    Austin    TX  2024  455686           974447

[110 rows x 5 columns]

In [3]:
# Use Cerberus to find any missing data between housing and population
# Define schema for the "housing.csv" file
housing_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Define schema for the "population.csv" file
population_schema = {
    'City': {'type': 'string', 'required': True},
    'State': {'type': 'string', 'required': True},
    # Add more validation rules as needed
}

# Create Cerberus Validator instances for each schema
housing_validator = Validator(housing_schema)
population_validator = Validator(population_schema)

# Load data from "housing.csv" and "population.csv" into pandas DataFrames
housing_data = pd.read_csv("housing.csv")
population_data = pd.read_csv("population.csv")

# Validate each row of the housing data against the schema
housing_validation_results = [housing_validator.validate(row.to_dict()) for _, row in housing_data.iterrows()]

# Validate each row of the population data against the schema
population_validation_results = [population_validator.validate(row.to_dict()) for _, row in population_data.iterrows()]

# Merge the DataFrames based on the "City" and "State" columns
merged_data = housing_data.merge(population_data, on=["City", "State"], how="outer", indicator=True)

# Filter out records present in only one DataFrame
missing_in_housing = merged_data[merged_data['_merge'] == 'right_only']
missing_in_population = merged_data[merged_data['_merge'] == 'left_only']

# Print out the missing records
print("Missing records in housing.csv:")
missing_in_housing

print("\Missing records in population.csv:")
missing_in_population

Missing records in housing.csv:
\Missing records in population.csv:

Empty DataFrame
Columns: [City, State, Year, Price, population_2022, _merge]
Index: []

In [4]:
#Use matching data to generate a new housing df, focusing on the cities with the highest 10 population counts
# Merge housing and population data to get matching City and State combinations
merged_data = housing_data.merge(population_data, on=["City", "State"], how="inner")

# Filter housing data to include only matching City and State combinations
matching_housing_data = housing_data[
    (housing_data[['City', 'State']].apply(tuple, axis=1)).isin(merged_data[['City', 'State']].apply(tuple, axis=1))
]
# show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Print out the matching housing data
matching_housing_data

             City State  Year   Price
0        New York    NY  2014  402362
1     Los Angeles    CA  2014  494696
2         Chicago    IL  2014  192162
3          Dallas    TX  2014  169951
4         Houston    TX  2014  168793
5    Philadelphia    PA  2014  204589
6         Phoenix    AZ  2014  202542
7       San Diego    CA  2014  455060
8     San Antonio    TX  2014  156013
9          Austin    TX  2014  240550
10       New York    NY  2015  416699
11    Los Angeles    CA  2015  516088
12        Chicago    IL  2015  200389
13         Dallas    TX  2015  187043
14        Houston    TX  2015  186431
15   Philadelphia    PA  2015  209850
16        Phoenix    AZ  2015  215163
17      San Diego    CA  2015  489168
18    San Antonio    TX  2015  167766
19         Austin    TX  2015  265047
20       New York    NY  2016  435647
21    Los Angeles    CA  2016  543868
22        Chicago    IL  2016  211026
23         Dallas    TX  2016  209094
24        Houston    TX  2016  197103
25   Philadelphia    PA  2016  217900
26        Phoenix    AZ  2016  234449
27      San Diego    CA  2016  526856
28    San Antonio    TX  2016  179321
29         Austin    TX  2016  284185
30       New York    NY  2017  458805
31    Los Angeles    CA  2017  593676
32        Chicago    IL  2017  222481
33         Dallas    TX  2017  230764
34        Houston    TX  2017  204476
35   Philadelphia    PA  2017  227387
36        Phoenix    AZ  2017  250576
37      San Diego    CA  2017  568041
38    San Antonio    TX  2017  190776
39         Austin    TX  2017  298141
40       New York    NY  2018  480549
41    Los Angeles    CA  2018  651578
42        Chicago    IL  2018  232501
43         Dallas    TX  2018  248263
44        Houston    TX  2018  212859
45   Philadelphia    PA  2018  236892
46        Phoenix    AZ  2018  269848
47      San Diego    CA  2018  598377
48    San Antonio    TX  2018  201455
49         Austin    TX  2018  308120
50       New York    NY  2019  495660
51    Los Angeles    CA  2019  661262
52        Chicago    IL  2019  237701
53         Dallas    TX  2019  256268
54        Houston    TX  2019  221167
55   Philadelphia    PA  2019  246229
56        Phoenix    AZ  2019  286413
57      San Diego    CA  2019  607060
58    San Antonio    TX  2019  209311
59         Austin    TX  2019  317451
60       New York    NY  2020  514550
61    Los Angeles    CA  2020  702113
62        Chicago    IL  2020  245586
63         Dallas    TX  2020  268992
64        Houston    TX  2020  230612
65   Philadelphia    PA  2020  263586
66        Phoenix    AZ  2020  317584
67      San Diego    CA  2020  646321
68    San Antonio    TX  2020  221938
69         Austin    TX  2020  344899
70       New York    NY  2021  564338
71    Los Angeles    CA  2021  800193
72        Chicago    IL  2021  271834
73         Dallas    TX  2021  314521
74        Houston    TX  2021  262498
75   Philadelphia    PA  2021  297167
76        Phoenix    AZ  2021  396575
77      San Diego    CA  2021  761293
78    San Antonio    TX  2021  255609
79         Austin    TX  2021  455730
80       New York    NY  2022  607852
81    Los Angeles    CA  2022  897896
82        Chicago    IL  2022  293834
83         Dallas    TX  2022  378230
84        Houston    TX  2022  305275
85   Philadelphia    PA  2022  325902
86        Phoenix    AZ  2022  471401
87      San Diego    CA  2022  880894
88    San Antonio    TX  2022  296290
89         Austin    TX  2022  535014
90       New York    NY  2023  621560
91    Los Angeles    CA  2023  898687
92        Chicago    IL  2023  302620
93         Dallas    TX  2023  375329
94        Houston    TX  2023  305278
95   Philadelphia    PA  2023  341504
96        Phoenix    AZ  2023  447272
97      San Diego    CA  2023  887806
98    San Antonio    TX  2023  292589
99         Austin    TX  2023  478175
100      New York    NY  2024  638713
101   Los Angeles    CA  2024  923457
102       Chicago    IL  2024  307221
103        Dallas    TX  2024  371673
104       Houston    TX  2024  303308
105  Philadelphia    PA  2024  348935
106       Phoenix    AZ  2024  452325
107     San Diego    CA  2024  924382
108   San Antonio    TX  2024  283669
109        Austin    TX  2024  455686

In [5]:
# Export to csv
housing = matching_housing_data
housing.to_csv('housing.csv', index=False)

In [40]:
import pandas as pd

# File paths for the CSV files
housing_csv_file = 'housingsql.csv'
population_csv_file = 'populationsql.csv'

# Read the CSV files into DataFrames
housing_df = pd.read_csv(housing_csv_file)
population_df = pd.read_csv(population_csv_file)

print("Housing DataFrame:")
housing_df

Housing DataFrame:

             city state  year   price
0        New York    NY  2014  402362
1     Los Angeles    CA  2014  494696
2         Chicago    IL  2014  192162
3          Dallas    TX  2014  169951
4         Houston    TX  2014  168793
5    Philadelphia    PA  2014  204589
6         Phoenix    AZ  2014  202542
7       San Diego    CA  2014  455060
8     San Antonio    TX  2014  156013
9          Austin    TX  2014  240550
10       New York    NY  2015  416699
11    Los Angeles    CA  2015  516088
12        Chicago    IL  2015  200389
13         Dallas    TX  2015  187043
14        Houston    TX  2015  186431
15   Philadelphia    PA  2015  209850
16        Phoenix    AZ  2015  215163
17      San Diego    CA  2015  489168
18    San Antonio    TX  2015  167766
19         Austin    TX  2015  265047
20       New York    NY  2016  435647
21    Los Angeles    CA  2016  543868
22        Chicago    IL  2016  211026
23         Dallas    TX  2016  209094
24        Houston    TX  2016  197103
25   Philadelphia    PA  2016  217900
26        Phoenix    AZ  2016  234449
27      San Diego    CA  2016  526856
28    San Antonio    TX  2016  179321
29         Austin    TX  2016  284185
30       New York    NY  2017  458805
31    Los Angeles    CA  2017  593676
32        Chicago    IL  2017  222481
33         Dallas    TX  2017  230764
34        Houston    TX  2017  204476
35   Philadelphia    PA  2017  227387
36        Phoenix    AZ  2017  250576
37      San Diego    CA  2017  568041
38    San Antonio    TX  2017  190776
39         Austin    TX  2017  298141
40       New York    NY  2018  480549
41    Los Angeles    CA  2018  651578
42        Chicago    IL  2018  232501
43         Dallas    TX  2018  248263
44        Houston    TX  2018  212859
45   Philadelphia    PA  2018  236892
46        Phoenix    AZ  2018  269848
47      San Diego    CA  2018  598377
48    San Antonio    TX  2018  201455
49         Austin    TX  2018  308120
50       New York    NY  2019  495660
51    Los Angeles    CA  2019  661262
52        Chicago    IL  2019  237701
53         Dallas    TX  2019  256268
54        Houston    TX  2019  221167
55   Philadelphia    PA  2019  246229
56        Phoenix    AZ  2019  286413
57      San Diego    CA  2019  607060
58    San Antonio    TX  2019  209311
59         Austin    TX  2019  317451
60       New York    NY  2020  514550
61    Los Angeles    CA  2020  702113
62        Chicago    IL  2020  245586
63         Dallas    TX  2020  268992
64        Houston    TX  2020  230612
65   Philadelphia    PA  2020  263586
66        Phoenix    AZ  2020  317584
67      San Diego    CA  2020  646321
68    San Antonio    TX  2020  221938
69         Austin    TX  2020  344899
70       New York    NY  2021  564338
71    Los Angeles    CA  2021  800193
72        Chicago    IL  2021  271834
73         Dallas    TX  2021  314521
74        Houston    TX  2021  262498
75   Philadelphia    PA  2021  297167
76        Phoenix    AZ  2021  396575
77      San Diego    CA  2021  761293
78    San Antonio    TX  2021  255609
79         Austin    TX  2021  455730
80       New York    NY  2022  607852
81    Los Angeles    CA  2022  897896
82        Chicago    IL  2022  293834
83         Dallas    TX  2022  378230
84        Houston    TX  2022  305275
85   Philadelphia    PA  2022  325902
86        Phoenix    AZ  2022  471401
87      San Diego    CA  2022  880894
88    San Antonio    TX  2022  296290
89         Austin    TX  2022  535014
90       New York    NY  2023  621560
91    Los Angeles    CA  2023  898687
92        Chicago    IL  2023  302620
93         Dallas    TX  2023  375329
94        Houston    TX  2023  305278
95   Philadelphia    PA  2023  341504
96        Phoenix    AZ  2023  447272
97      San Diego    CA  2023  887806
98    San Antonio    TX  2023  292589
99         Austin    TX  2023  478175
100      New York    NY  2024  638713
101   Los Angeles    CA  2024  923457
102       Chicago    IL  2024  307221
103        Dallas    TX  2024  371673
104       Houston    TX  2024  303308
105  Philadelphia    PA  2024  348935
106       Phoenix    AZ  2024  452325
107     San Diego    CA  2024  924382
108   San Antonio    TX  2024  283669
109        Austin    TX  2024  455686

In [41]:
# print population df

print("Population DataFrame:")
population_df

Population DataFrame:

           city state  population_2022
0      New York    NY          8335897
1   Los Angeles    CA          3822238
2       Chicago    IL          2665039
3       Houston    TX          2302878
4       Phoenix    AZ          1644409
5  Philadelphia    PA          1567258
6   San Antonio    TX          1472909
7     San Diego    CA          1381162
8        Dallas    TX          1299544
9        Austin    TX           974447